
#header, #topNav, #instructionsEditBar, #fullScreenProgressFill, .themeBackground, .progress, .ai-chat .ai-submit {
    background-color: #0067B8;
}

#fullScreenMessageLoadingIcon, .loadingAnimation-medium, .loadingAnimation-small, .loadingAnimation-large {
    border-top-color: #0067B8;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
    outline-color: #0067B8;
}

.editInputWrapper {
    border-right-color: #0067B8;
}

.tabHeading.selected {
    border-bottom: 4px solid #0067B8;
}

.ui-tabs-active, .ui-accordion-header-active {
    background-color: #0067B8 !important;
}
